# All Waybill Info

In [ ]:
import pandas as pd
from google.colab import drive

drive.mount('/content/drive')

# Path to the CSV file
file_path = '/content/drive/MyDrive/AI_Implementation_Shared_Drive/Data_Files/all_waybill_info_meituan.csv'

# Read CSV file into a DataFrame
all_data_df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
print(all_data_df.columns)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Index(['Unnamed: 0', 'dt', 'order_id', 'waybill_id', 'courier_id', 'da_id',
       'is_courier_grabbed', 'is_weekend', 'estimate_arrived_time',
       'is_prebook', 'poi_id', 'sender_lng', 'sender_lat', 'recipient_lng',
       'recipient_lat', 'grab_lng', 'grab_lat', 'dispatch_time', 'grab_time',
       'fetch_time', 'estimate_meal_prepare_time', 'arrive_time',
       'order_push_time', 'platform_order_time'],
      dtype='object')

In [ ]:
raw_df = all_data_df

print(all_data_df)

        Unnamed: 0        dt  order_id  waybill_id  courier_id  da_id  \
0                0  20221017         0           0           0      0
1                1  20221017         1           1           1      1
2                2  20221017         2           2           2      2
3                3  20221017         3           3           3      0
4                4  20221017         4           4           4      0
...            ...       ...       ...         ...         ...    ...
654338      654338  20221024     57635      654338        1159      0
654339      654339  20221024    568543      654339        1957      0
654340      654340  20221024    568544      654340        2323      9
654341      654341  20221024    162081      654341         211     12
654342      654342  20221024    568545      654342         211     12

        is_courier_grabbed  is_weekend  estimate_arrived_time  is_prebook  \
0                        0           1             1665937978           0
1                        1           1             1665937864           0
2                        1           0             1665939504           0
3                        1           0             1665939432           0
4                        1           0             1665938894           0
...                    ...         ...                    ...         ...
654338                   0           0             1666624606           0
654339                   1           0             1666625239           0
654340                   1           0             1666627392           0
654341                   1           0             1666628412           0
654342                   1           0             1666628900           0

        ...  recipient_lat   grab_lng  grab_lat  dispatch_time   grab_time  \
0       ...       45852786          0         0     1665936258           0
1       ...       45898250  174530062  45906005     1665936734  1665936737
2       ...       45891243  174548244  45870923     1665937484  1665937501
3       ...       45886787  174560199  45867948     1665937394  1665937397
4       ...       45867411  174554896  45865167     1665937394  1665937413
...     ...            ...        ...       ...            ...         ...
654338  ...       45847351          0         0     1666623138           0
654339  ...       45862730  174576809  45873238     1666623438  1666623463
654340  ...       45873834  174624149  45872077     1666625247  1666625261
654341  ...       45887366  174537979  45895683     1666626827  1666626842
654342  ...       45899319  174534142  45894631     1666627307  1666627336

        fetch_time  estimate_meal_prepare_time  arrive_time  order_push_time  \
0                0                  1665935996            0       1665936000
1       1665937344                  1665935995   1665937798       1665936006
2       1665938346                  1665937097   1665939384       1665937107
3       1665937830                  1665937028   1665939822       1665937369
4       1665937710                  1665937092   1665938262       1665937373
...            ...                         ...          ...              ...
654338           0                  1666622098            0       1666622318
654339  1666624287                  1666623313   1666624689       1666623436
654340  1666626227                  1666624923   1666627172       1666625227
654341  1666627538                  1666626599   1666628197       1666626613
654342  1666627659                  1666626599   1666629032       1666626913

        platform_order_time
0                1665935996
1                1665935995
2                1665937097
3                1665937028
4                1665937092
...                     ...
654338           1666622098
654339           1666623313
654340           1666624923
654341           1666626599
654342           1666626599

[654343 rows x 24 columns]

In [ ]:
import pandas as pd



# List of time-related columns in 'all_data_df' that need conversion
time_columns = [
    'estimate_arrived_time', 'dispatch_time', 'grab_time',
    'fetch_time', 'arrive_time', 'order_push_time', 'platform_order_time'
]

# Convert each time-related column from Unix timestamp to datetime
for column in time_columns:
    all_data_df[column] = pd.to_datetime(all_data_df[column], unit='s')

       estimate_arrived_time       dispatch_time           grab_time  \
0        2022-10-16 16:32:58 2022-10-16 16:04:18 1970-01-01 00:00:00
1        2022-10-16 16:31:04 2022-10-16 16:12:14 2022-10-16 16:12:17
2        2022-10-16 16:58:24 2022-10-16 16:24:44 2022-10-16 16:25:01
3        2022-10-16 16:57:12 2022-10-16 16:23:14 2022-10-16 16:23:17
4        2022-10-16 16:48:14 2022-10-16 16:23:14 2022-10-16 16:23:33
...                      ...                 ...                 ...
654338   2022-10-24 15:16:46 2022-10-24 14:52:18 1970-01-01 00:00:00
654339   2022-10-24 15:27:19 2022-10-24 14:57:18 2022-10-24 14:57:43
654340   2022-10-24 16:03:12 2022-10-24 15:27:27 2022-10-24 15:27:41
654341   2022-10-24 16:20:12 2022-10-24 15:53:47 2022-10-24 15:54:02
654342   2022-10-24 16:28:20 2022-10-24 16:01:47 2022-10-24 16:02:16

                fetch_time         arrive_time     order_push_time  \
0      1970-01-01 00:00:00 1970-01-01 00:00:00 2022-10-16 16:00:00
1      2022-10-16 16:22:24 2022-10-16 16:29:58 2022-10-16 16:00:06
2      2022-10-16 16:39:06 2022-10-16 16:56:24 2022-10-16 16:18:27
3      2022-10-16 16:30:30 2022-10-16 17:03:42 2022-10-16 16:22:49
4      2022-10-16 16:28:30 2022-10-16 16:37:42 2022-10-16 16:22:53
...                    ...                 ...                 ...
654338 1970-01-01 00:00:00 1970-01-01 00:00:00 2022-10-24 14:38:38
654339 2022-10-24 15:11:27 2022-10-24 15:18:09 2022-10-24 14:57:16
654340 2022-10-24 15:43:47 2022-10-24 15:59:32 2022-10-24 15:27:07
654341 2022-10-24 16:05:38 2022-10-24 16:16:37 2022-10-24 15:50:13
654342 2022-10-24 16:07:39 2022-10-24 16:30:32 2022-10-24 15:55:13

       platform_order_time
0      2022-10-16 15:59:56
1      2022-10-16 15:59:55
2      2022-10-16 16:18:17
3      2022-10-16 16:17:08
4      2022-10-16 16:18:12
...                    ...
654338 2022-10-24 14:34:58
654339 2022-10-24 14:55:13
654340 2022-10-24 15:22:03
654341 2022-10-24 15:49:59
654342 2022-10-24 15:49:59

[654343 rows x 7 columns]

# Courier Wave

In [ ]:
import pandas as pd
from google.colab import drive

drive.mount('/content/drive')

# Path to the CSV file
file_path = '/content/drive/MyDrive/AI_Implementation_Shared_Drive/Data_Files/courier_wave_info_meituan.csv'

# Read CSV file into a DataFrame
courier_wave_df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
print(courier_wave_df)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
              dt  courier_id  wave_id  wave_start_time  wave_end_time  \
0       20221017           0        1       1666015199     1666016427
1       20221017           0        2       1666019273     1666020782
2       20221017           1        1       1665936737     1665937798
3       20221017           1        2       1665976317     1665979643
4       20221017           2        1       1665938277     1665939955
...          ...         ...      ...              ...            ...
206743  20221024        4903        2       1666613774     1666614821
206744  20221024        4912        1       1666601581     1666603611
206745  20221024        4941        1       1666602997     1666605337
206746  20221024        4942        1       1666551712     1666553062
206747  20221024        4954        1       1666594574     1666595646

                                       order_ids
0                                       [171478]
1                                       [116902]
2                                            [1]
3       [264834, 107524, 334962, 125682, 493460]
4                    [264776, 2, 398099, 389973]
...                                          ...
206743                                  [134738]
206744                          [563315, 332060]
206745                          [469841, 318213]
206746                                  [472283]
206747                                  [565849]

[206748 rows x 6 columns]

In [ ]:
import pandas as pd

# Convert the 'dispatch_time' column from Unix timestamp to datetime
courier_wave_df['wave_start_time'] = pd.to_datetime(courier_wave_df['wave_start_time'], unit='s')

courier_wave_df['wave_end_time'] = pd.to_datetime(courier_wave_df['wave_end_time'], unit='s')


# Display the first few rows to verify the conversion
print(courier_wave_df['wave_start_time'])

print(courier_wave_df['wave_end_time'])

0        2022-10-17 13:59:59
1        2022-10-17 15:07:53
2        2022-10-16 16:12:17
3        2022-10-17 03:11:57
4        2022-10-16 16:37:57
                 ...
206743   2022-10-24 12:16:14
206744   2022-10-24 08:53:01
206745   2022-10-24 09:16:37
206746   2022-10-23 19:01:52
206747   2022-10-24 06:56:14
Name: wave_start_time, Length: 206748, dtype: datetime64[ns]
0        2022-10-17 14:20:27
1        2022-10-17 15:33:02
2        2022-10-16 16:29:58
3        2022-10-17 04:07:23
4        2022-10-16 17:05:55
                 ...
206743   2022-10-24 12:33:41
206744   2022-10-24 09:26:51
206745   2022-10-24 09:55:37
206746   2022-10-23 19:24:22
206747   2022-10-24 07:14:06
Name: wave_end_time, Length: 206748, dtype: datetime64[ns]

# Dispatch Rider

In [ ]:
import pandas as pd
from google.colab import drive

drive.mount('/content/drive')

# Path to the CSV file
file_path = '/content/drive/MyDrive/AI_Implementation_Shared_Drive/Data_Files/dispatch_rider_meituan.csv'

# Read CSV file into a DataFrame
dispatch_rider_df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
print(dispatch_rider_df)

Mounted at /content/drive
       Unnamed: 0        dt  rider_lat  rider_lng  dispatch_time  \
0               0  20221017   45852983  174574564     1665977114
1               1  20221017   45871077  174595507     1665977114
2               2  20221017   45862480  174577300     1665977114
3               3  20221017   45912267  174526266     1665977114
4               4  20221017   45857203  174529566     1665977114
...           ...       ...        ...        ...            ...
62039       62077  20221024   45783005  174571219     1666582217
62040       62078  20221024   45852128  174619618     1666582217
62041       62079  20221024   45866560  174564038     1666582217
62042       62080  20221024   45879414  174548063     1666582217
62043       62081  20221024   45878450  174635033     1666582217

                                        courier_waybills  courier_id
0                                       [284829, 227311]         705
1        [165204, 253364, 73375, 483038, 218555, 218582]         392
2                                        [16073, 509042]        3248
3      [555809, 310156, 54588, 113651, 28934, 440990,...         993
4                               [403600, 128710, 506457]        4183
...                                                  ...         ...
62039                                                 []        2579
62040                                           [464408]        3381
62041                                                 []        3772
62042                                                 []         352
62043                                           [258777]         527

[62044 rows x 7 columns]

In [ ]:
import pandas as pd

# Convert the 'dispatch_time' column from Unix timestamp to datetime
dispatch_rider_df['dispatch_time'] = pd.to_datetime(dispatch_rider_df['dispatch_time'], unit='s')

# Display the first few rows to verify the conversion
print(dispatch_rider_df['dispatch_time'])

0       2022-10-17 03:25:14
1       2022-10-17 03:25:14
2       2022-10-17 03:25:14
3       2022-10-17 03:25:14
4       2022-10-17 03:25:14
                ...
62039   2022-10-24 03:30:17
62040   2022-10-24 03:30:17
62041   2022-10-24 03:30:17
62042   2022-10-24 03:30:17
62043   2022-10-24 03:30:17
Name: dispatch_time, Length: 62044, dtype: datetime64[ns]

# Dispatch Waybill

In [ ]:
import pandas as pd
from google.colab import drive

drive.mount('/content/drive')

# Path to the CSV file
file_path = '/content/drive/MyDrive/AI_Implementation_Shared_Drive/Data_Files/dispatch_waybill_meituan.csv'

# Read CSV file into a DataFrame
dispatch_waybill_df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
print(dispatch_waybill_df)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
       Unnamed: 0        dt  dispatch_time  order_id
0               0  20221017     1665977114    522093
1               1  20221017     1665977114    259146
2               2  20221017     1665977114     64002
3               3  20221017     1665977114     85993
4               4  20221017     1665977114    215713
...           ...       ...            ...       ...
15916       15916  20221024     1666582217    113334
15917       15917  20221024     1666582217    267366
15918       15918  20221024     1666582217    568332
15919       15919  20221024     1666582217    224113
15920       15920  20221024     1666582217    173832

[15921 rows x 4 columns]

# 2021_Cars_Aggregated

In [ ]:
import pandas as pd
from google.colab import drive

drive.mount('/content/drive')

# Path to the CSV file
file_path = '/content/drive/MyDrive/AI_Implementation_Shared_Drive/Data_Files/2021_Cars_Aggregated.csv'

# Read CSV file into a DataFrame
cars_aggregated_df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
print(cars_aggregated_df)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
                Manufacturer        Fuel Type  Number of vehicles  \
0                        KIA           PETROL                1025
1                      SKODA           PETROL                2494
2              HYUNDAI CZECH           PETROL                1592
3                     TOYOTA           PETROL                6338
4           MERCEDES-BENZ AG           PETROL               29995
..                       ...              ...                 ...
89             AUDI HUNGARIA           DIESEL                  10
90  SUZUKI MOTOR CORPORATION           PETROL                2231
91    SAIC MOTOR CORPORATION  PETROL/ELECTRIC                  29
92           OPEL AUTOMOBILE  PETROL/ELECTRIC                 317
93              MERCEDES AMG           PETROL                  95

    OBFCM Fuel consumption (l/100 km)  WLTP Fuel consumption (l/100 km)  \
0                                6.39                              5.56
1                                7.29                              6.13
2                                7.22                              6.26
3                                5.60                              4.99
4                               10.53                              8.46
..                                ...                               ...
89                               7.15                              5.71
90                               5.40                              4.94
91                               6.21                              1.80
92                               5.47                              1.36
93                              18.53                             12.74

    absolute gap Fuel consumption (l/100 km)  \
0                                       0.82
1                                       1.16
2                                       0.95
3                                       0.61
4                                       2.07
..                                       ...
89                                      1.43
90                                      0.47
91                                      4.41
92                                      4.12
93                                      5.79

    percentage gap Fuel consumption (%)  OBFCM CO2 emissions (g/km)  \
0                                 14.78                      145.50
1                                 18.96                      166.07
2                                 15.23                      164.36
3                                 12.27                      127.52
4                                 24.45                      239.83
..                                  ...                         ...
89                                25.10                      188.03
90                                 9.43                      123.06
91                               245.23                      141.54
92                               303.31                      124.71
93                                45.48                      422.06

    WLTP CO2 emissions (g/km)  absolute gap CO2 emissions (g/km)  \
0                      126.76                              18.74
1                      139.60                              26.47
2                      142.64                              21.72
3                      113.59                              13.93
4                      192.71                              47.13
..                        ...                                ...
89                     150.30                              37.73
90                     112.46                              10.61
91                      41.00                             100.54
92                      30.92                              93.79
93                     290.11                             131.95

    percentage gap CO2 emissions (%)  \
0                              14.78
1                              18.96
2                              15.23
3                              12.27
4                              24.45
..                               ...
89                             25.10
90                              9.43
91                            245.23
92                            303.31
93                             45.48

    OBFCM Fuel consumption weighted (l/100 km)  \
0                                         6.33
1                                         7.16
2                                         7.09
3                                         5.67
4                                        10.68
..                                         ...
89                                        7.08
90                                        5.27
91                                        6.33
92                                        5.53
93                                       18.13

    WLTP Fuel consumption weighted (l/100 km)  \
0                                        5.60
1                                        6.12
2                                        6.23
3                                        5.05
4                                        8.67
..                                        ...
89                                       5.63
90                                       4.96
91                                       1.80
92                                       1.36
93                                      12.73

    absolute gap Fuel consumption weighted (l/100 km)  \
0                                                0.72
1                                                1.03
2                                                0.86
3                                                0.62
4                                                2.01
..                                                ...
89                                               1.45
90                                               0.31
91                                               4.53
92                                               4.18
93                                               5.40

    percentage gap Fuel consumption weighted (%)  \
0                                          12.93
1                                          16.90
2                                          13.83
3                                          12.30
4                                          23.12
..                                           ...
89                                         25.67
90                                          6.34
91                                        251.91
92                                        308.11
93                                         42.43

    OBFCM CO2 emissions weighted (g/km)  WLTP CO2 emissions weighted (g/km)  \
0                                144.17                              127.66
1                                163.03                              139.45
2                                161.59                              141.95
3                                129.15                              115.00
4                                243.30                              197.61
..                                  ...                                 ...
89                               186.20                              148.16
90                               120.15                              112.98
91                               144.28                               41.00
92                               126.00                               30.87
93                               412.89                              289.90

    absolute gap CO2 emissions weighted (g/km)  \
0                                        16.51
1                                        23.57
2                                        19.63
3                                        14.14
4                                        45.68
..                                         ...
89                                       38.03
90                                        7.17
91                                      103.28
92                                       95.13
93                                      122.99

    percentage gap CO2 emissions weighted (%)
0                                       12.93
1                                       16.90
2                                       13.83
3                                       12.30
4                                       23.12
..                                        ...
89                                      25.67
90                                       6.34
91                                     251.91
92                                     308.11
93                                      42.43

[94 rows x 19 columns]

# 2021_Cars_Raw

In [ ]:
import pandas as pd
from google.colab import drive

drive.mount('/content/drive')

# Path to the CSV file
file_path = '/content/drive/MyDrive/AI_Implementation_Shared_Drive/Data_Files/2021_Cars_Raw.csv'

# Read CSV file into a DataFrame
cars_raw_df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
print(cars_raw_df)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
       OBFCM data source        ID  OBFCM ReportingPeriod  Registration Year  \
0                    OEM  55201566                   2021               2021
1                    OEM  46868086                   2021               2021
2                    OEM  55201567                   2021               2021
3                    OEM  55201568                   2021               2021
4                    OEM  55201574                   2021               2021
...                  ...       ...                    ...                ...
916267               OEM  50066870                   2021               2021
916268               OEM  50066874                   2021               2021
916269               OEM  56630133                   2021               2021
916270               OEM  53288261                   2021               2021
916271               OEM  50066882                   2021               2021

        Total fuel consumed (lifetime) (l)  \
0                                   645.57
1                                  1363.64
2                                   121.03
3                                   311.34
4                                   690.69
...                                    ...
916267                              895.40
916268                             1224.94
916269                                8.93
916270                                4.04
916271                               85.67

        Total distance travelled (lifetime) (km)  \
0                                         8077.5
1                                        25085.7
2                                         3585.7
3                                         6770.1
4                                        10727.7
...                                          ...
916267                                    7551.5
916268                                   13579.5
916269                                      71.4
916270                                      12.4
916271                                    1039.1

        Total distance travelled in charge depleting operation with engine off (lifetime) (km)  \
0                                                   707.6
1                                                 10457.4
2                                                  2371.1
3                                                  3605.6
4                                                  3226.1
...                                                   ...
916267                                                0.0
916268                                                0.0
916269                                                0.0
916270                                                0.0
916271                                                0.0

        Total distance travelled in charge depleting operation with engine running (lifetime) (km)  \
0                                                  2561.5
1                                                  7449.2
2                                                  1064.8
3                                                  1466.6
4                                                  1079.8
...                                                   ...
916267                                                0.0
916268                                                0.0
916269                                                0.0
916270                                                0.0
916271                                                0.0

        Total distance travelled in driver-selectable charge increasing operation (lifetime)  (km)  \
0                                                     0.0
1                                                     0.0
2                                                     0.0
3                                                     0.0
4                                                     0.0
...                                                   ...
916267                                                0.0
916268                                                0.0
916269                                                0.0
916270                                                0.0
916271                                                0.0

        Total fuel consumed in charge depleting operation (lifetime) (l)  \
0                                                  248.34
1                                                  720.74
2                                                  108.56
3                                                  160.05
4                                                  125.23
...                                                   ...
916267                                               0.00
916268                                               0.00
916269                                               0.00
916270                                               0.00
916271                                               0.00

        Total fuel consumed in driver-selectable charge increasing operation (lifetime) (l)  \
0                                                     0.0
1                                                     0.0
2                                                     0.0
3                                                     0.0
4                                                     0.0
...                                                   ...
916267                                                0.0
916268                                                0.0
916269                                                0.0
916270                                                0.0
916271                                                0.0

        Total grid energy into the battery (lifetime) (kWh)  \
0                                                   102.4
1                                                  3098.3
2                                                   850.7
3                                                  1216.7
4                                                  1155.0
...                                                   ...
916267                                                0.0
916268                                                0.0
916269                                                0.0
916270                                                0.0
916271                                                0.0

        Used in calculation
0                         1
1                         1
2                         1
3                         1
4                         1
...                     ...
916267                    1
916268                    1
916269                    0
916270                    0
916271                    1

[916272 rows x 13 columns]